<%
  default = Setting.available_settings[PROFILER_SETTINGS_NAME.to_s]['default']
%>

<table width="100%">
  <tbody>
    <tr>
      <th align="right">Откуда забирать актуальные данные</th>
      <td width="80%">
        <%= text_field_tag("settings[#{PROFILER_URL}]", settings[PROFILER_URL], required: "required", style: "width: 100%;") %>
      </td>
    </tr>
      <tr>
        <th align="right">Откуда забирать справочник</th>
        <td width="80%">
          <%= text_field_tag("settings[#{PROFILER_URL_BOOK}]", settings[PROFILER_URL_BOOK], required: "required", style: "width: 100%;") %>
        </td>
      </tr>
    <tr>
      <td colspan=2>
         Период обновления по cron:
         <%= `crontab -l | egrep -v "^#" | grep 'redmine:plugins:profiler:reload'`.to_s.slice(0,100) %>....
         <em class="info">Базовый пример(каждые два часа в 0 минут):</em>
         <em class="info">0 */2 * * * cd /.../redmine && bundle exec rake -s redmine:plugins:profiler:reload RAILS_ENV="production"</em>
      </td>
    </tr>
    <tr>
      <td colspan=2>
         Последнее обновление: <%= settings[PROFILER_LAST] %>
      </td>
    </tr>

  </tbody>
</table>
