<%
  data_user = Setting[PROFILER_SETTINGS_NAME][PROFILER_USER_DATA][@user.id.to_s]
  data_book = Setting[PROFILER_SETTINGS_NAME][PROFILER_USER_TYPES]
  if data_user.present? and data_user.count > 0 
%>

    <h3>Уровень специалиста</h3>
    <ul>
        <% data_user.each do |type| %>
          <li>
              <strong><%=data_book[type['type']]%></strong>
              (<%=type['from'].present? ? I18n.l(Date.parse(type['from']), format: :long) : 'не указано' %>
              -
              <%=type['to'].present? ? I18n.l(Date.parse(type['to']), format: :long) : 'по настоящее время' %>)
          </li>
        <% end %>
    </ul>

<% end%>
